.header {
    background-color: #1f2937;
}
.hero {
    background-color: #1f2937;
}
.top {
    background-color: #ffffff;
}
.middle {
    background-color: #e5e7eb;
}
.bottom {
    background-color: #ffffff;
}
.footer {
    background-color: #1f2937;
}